  
            
    table{
        height: 50%;
        width:90%;
        font-size:20px;
        border:1px solid ;
        border-collapse:collapse;

    }
    th,td{
        border:1px solid;
        
    }
    .p{
        margin-left:70%;
        margin-bottom:0px;
        margin-top:2px;
    }
   .r{
        margin-left:50%;    
    }
    .a{
        font-size:20px;
        margin:auto;
        height:100%;
    }
    
    .b{
        font-size:20px;
        margin:auto;}
        .imp{
height:1%;
font-size:15px;
padding:10px;
font-weight:142px;
}