body{
    background-size:100% 100%;
    background-repeat:no-repeat;
background-image: url(../log/agence.png);
    background-color: chartreuse;
}    
table{
    height: auto;
    font-size:20px;
    border:1px solid ;
    border-collapse:collapse;
    background-color:gold;

}
th,td{
    border:1px solid;
    
}

button{
    background-color:white;
    color:blue;
    border-radius: 12px;
    
    padding: 5px 10px;
}
a{
   color : blue;
   text-decoration:unset;
}

a:hover{
   color:blue;
}
a:visited{
   color:blue;
}
.next{
margin: auto;

}

input[type=text]{
    border-radius: 20px ;
    width: 200px;
    height: auto;

}

input[type=number]{
    font-family: fantasy;
    border-radius:  20px ;
    width: 200px;
    height: auto;
}
input[type=submit]{
border-radius:12px;
    height: auto;
    background-color : red;
color:white;
}
.nes{
   background-color:green;
   padding:12px;
}
label:hover{
   background-color:black;
}
.nes:hover{background-color:black;}
label{
   color:white;
   font-size:17px;
}