
        fieldset{
            height:50%;
        }
        table{
            height: 50px;
            font-size:20px;
            border:1px solid ;
            border-collapse:collapse;

        }
        th,td{
            border:1px solid;
            
        }
        .p{
            margin-left:70%;
            margin-bottom:0px;
            margin-top:2px;
        }
        .i{
            margin-left:100px;
        }
        .ii{
            margin-left:300px;
        }
        .iii{
            margin-left:400px;
        }
      
      
        i{font-size:20px;}
       .r{
            margin-left:50%;    
        }
        .a{
            font-size:20px;
            margin:auto;
        }
        .tab{
            border:unset;
        }
.imp{
    height:1%;
    font-size:15px;
    padding:10px;
    font-weight:142px;
}